@charset "utf-8";

@media screen and (max-width:1024px) {
       /* 반응형스타일 헤더구역 시작 */
    #header #nav {  
        position:fixed; 
        transform:translateY(0%);
        top:0px; 
        right:0px; 
        left:100%;
        bottom:0px; 
        font-size:18px; 
        color:#1e1e1e; 
        background:rgba(0,0,0,0.5);
        overflow-y: auto; 
        overflow-x: hidden;
        }
    #header #nav .depth1 { 
        position: absolute; 
        top:0; height:100%;
        right:-200px;
        width: 200px;
        background: #fff;
        padding-top:50px; 
    }
    #header #nav .depth1 > li { float:none; position:relative; }
    #header #nav .depth1 > li > a { padding:20px 40px; display:block; 
        text-align:center; }
    #header #nav .depth1 > li:hover > a { color: #00529b; }
    #header .depth2 { position:static; top:100%; left:0; 
        background:#555; font-size:14px;
        color:#fff; width:100%; text-align:center; 
        display:none; }    

    #header .opennav { 
        display:block; 
        position:absolute; top:50%; 
        transform:translateY(-50%);
        right:20px; font-size:30px; 
        transition:all 0.3s;
        cursor: pointer;
    }  

    #header .opennav.on {
        position:fixed; top:20px; 
        transform:translateY(0%);
        right:20px; z-index:999999999;   
    }


    /* 검색창 */
    #header .search {
        /* 원래 위치에서 여기 위치로 변경하려면 fixed 말곤 답없음*/
        position:fixed; 
        /* top 0 rignt 0 transform 0 부터 시작해서 맞추기, 
        폰트사이즈도 보고 맞추기 */
        right:70px; 
        top:60px; 
        transform:translateY(0);
        font-size:28px;
        /* h1박스에 돋보기 가려져 있을 수 있으니 
        확인후 z-index 햄버거랑 같게 */
        z-index: 99;
    }
    #header .search #sbox { 
        border: 0px solid #000;
        border:none; text-indent:1em; 
        width: 0px; height: 30px;  
        overflow:hidden; outline:none;
        transition:all 0.5s;
        position: absolute;
        top:0px; right:40px;
    }
    /* 부모기준으로 부모에 fixed가 있는데 또 fixed쓰면 에러나
    fixed top50% left50% transform:translate(-50%,50%) : 50공식 안먹혀 */

    #header .search.on #sbox{
        width:300px; border: 1px solid #000;
    }

    /* 슬라이드구역 index.css 봐야함  */
    .article1 .slick-dots li { 
        display:inline-block; 
        margin:0 5px;
        width:80px; height:2px; 
        background:#999; 
        position:relative;
    }

    .article1 .slick-dots li.slick-active button {  
        width:80px; transition:all 3s;
    }

    .article1 .plpa {
        font-size:20px; color:#fff;
        cursor:pointer;
        position:absolute; bottom:22px;
        left:50%; transform:translate(140px);
    }

    .article5 .row > div { width:100%; float:left; }

    .article5 .row > div.cs_board { padding-right:0px; }
    .article5 .row > div.cs_center { 
        border:1px solid #ddd;
        padding:30px;         
        margin:30px 0;
        text-align: center;
    }
    .article5 .cs_center li::before {display: none;}
    
    .article5 .row div.cs_movie { padding-left:0;
    text-align: center; }
    .youtubeVideoInner { top:25% !important}

    #footer .info span { padding:5px 20px;
    display: block; }
}

/* 모바일 768px max=이하 */
@media screen and (max-width:768px) { 
    #header .search.on #sbox{
        top:63px; right:0px;
        height: 50px;
    }

    #section .article1 .slick-slide .slide_text h2 { 
        font-size: 23px;
        line-height: 25px;
        font-weight: 800; transform: unset; opacity:unset;
        transition:unset
    }
    /* 원인을 찾기 어려울 때 !important */

    .article1 .slick-slide .slide_text p { display: none;}

    .article1 .slide { 
        height:350px;  
        background-size:cover;  
        position:relative; 
    }

        
    .article2 li:hover > div { bottom:25px;  }
    .article2 li { height: 220px; 
        float:left; width:49%; margin-right:2%; 
        color:#fff;
        position:relative; 
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover; opacity:1; 
        transition:all 1s;
        margin-bottom:  10px;
    }

    .article2 li:nth-child(1) { background-image:url(../img/what1.jpg); transform:translate(0, 0) }
    .article2 li:nth-child(2) { background-image:url(../img/what2.jpg); margin-right:0; transform:translate(0, 0) }
    .article2 li:nth-child(3) { background-image:url(../img/what3.jpg); transform:translate(0, 0) }
    .article2 li:nth-child(4) { background-image:url(../img/what4.jpg); margin-right:0; transform:translate(0, 0)}

    .article2 li > div { text-align: center; }
    .article2 li > div > p { display: none;}
    .article2 li > div > a {  
        margin-top: 20px;
        display: inline-block; padding: 10px 20px;
        border: 1px solid rgba(255,255,255,0.5); font-size: 11px; font-weight: 600 !important;
    }

    #section h2 { font-size: 25px; padding: 30px 0 10px }


    .article3 {
        margin-top: 30px;
        padding: 50px 0;
    }

    .article4 li {
        float:left; width:49%;
        margin-right: 0%;
        margin-bottom:20px; 
        border:1px solid #999;
        text-align:center;
        transform:scale(1); opacity:1; 
    }
    /* .article4 li:nth-child(3n){
        margin-right:2%
    } */
    .article4 li:nth-child(odd){
        margin-right:2%
    }


    .article4 li p {display: none;}

    .article5 .row > div { width:100%; float:left; }

    .article5 .row > div.cs_board { padding-right:0px; }
    .article5 .row > div.cs_center { 
        border:1px solid #ddd;
        padding:30px;         
        margin:30px 0;
        text-align: center;
    }
    .article5 .cs_center li::before {display: none;}

    

}